<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="">
	<title> lastick </title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel=stylesheet href="/css/style.css"/>

  <script src="/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  

</head>
<body>

<div id="content">

	<div>
        <ul>
           <li><a href="/user">
                      Profile
                      </a></li>
           <li><a href="/friends">
                       Friends
                      </a></li>
           <li><a href="/calendar">
                        Calendar
                      </a></li>
         </ul>
      </div>
      <div class='row' id='logo'>
      <div class='col-md-12'>
        <h1 style="
    font-size: 30px;
"> lastick </h1>
      </div>
    </div>
        
</div>
</body>
</html>
