<!doctype html>
<html>
<head>
	<title>Lastick</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">

</head>
<body>
	<h1>lastick</h1>
<div class="login-page">
  <div class="form">
    <form action="/login" method="post" class="login-form">
      <input type="text" name="email" placeholder="email"/>
      <input type="password" name="password" placeholder="password"/>
      <input type="submit" class="btnLogin" value="Login">
      <p class="message">Not registered? <a href="/signup">Create an account</a></p>
    </form>
  </div>
</div>

</body>
</html>
