body { 
	background-color: #333 !important;
}

h1 {
	color: white !important;
	text-align: center;
	font-size: 20px;
}

#logo {

	margin-top: 50px;	
    margin-bottom: 50px;
}

.col-md-3{
	border:2px solid white;
	border-radius: 10px;
}

.add{
	width: 180px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cuadrado{
	 width: 30px; 
     height: 30px; 
     background: #428bca;
}

.leyenda{
	color:white;
	height: 200px;
}

input {
	margin: 5px 5px 5px 5px;
	border: none;
}
.color{
	color: #ffffff;
	background-color: inherit;
	padding: 0;    
	border: none;
	box-shadow: none;
	width: 100px;
	height:100px;
	border-radius: 25px;
	-webkit-appearance: none;
}

input[type=text] {
	box-sizing: border-box;
	outline: none;
    background-color: #444;
    color: white;
    border: none;
	border-radius: 5px;
}

input[type=text]:focus {
    background-color: #222;
}

input[type=time]{
}

input {
	margin: 5px 5px 5px 5px;
	border: none;
	text-align: center;
}
input[type=color]{
	color: #ffffff;
	background-color: inherit;
	padding: 0;    
	border: none;
	box-shadow: none;
	width: 100px;
	height:100px;
	border-radius: 25px;
	-webkit-appearance: none;
}

input[type=text] {
	box-sizing: border-box;
	outline: none;
    background-color: #444;
    color: white;
    border: none;
	border-radius: 5px;
}

input[type=text]:focus {
    background-color: #222;

}

a {
	color:white;
	text-decoration-color: white;
	text-decoration: none;
}

.box-izq{
	color:white !important;
	text-align: center;
}

.box-der{
	color:white !important;
	width: 200px !important;
}

.shared{
	text-align: center;
    margin: 30px;
}

.shared img{
	width: 50px;
	margin:5px;
}

.tit_tiempo{

}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}

